
body {
    background-color: #e4e2e3;
}

.jumbotron {
  padding-top: 28px;
  padding-bottom: 28px;
}

#app {
    width: 80%;
    margin: auto;
}

.quiz {
    text-align: center;
}

h3 {
    margin-top: 25px;
}

.question input[type="text"] {
    font-size: 20px;
    width: 100%;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.question input[type="text"], .question button {
    margin-top: 10px;
    vertical-align: middle;
}

.question-result {
    width: 80%;
    margin: 20px auto auto;
    font-size: 16px;
}

.question.error input[type="text"] {
    border-color: rgba(255, 0, 0, 0.6);
}

.question.error .question-result {
    color: red;
}

.question.error .answer {
    font-size: 18px;
    text-decoration: underline;
}

.motivation-image {
  max-width: 100%;
  max-height: 100%;
}
