
body {
    background-color: #e4e2e3;
}

#app {
    width: 80%;
    margin: auto;
}

.quiz {
    text-align: center;
}

.question input[type="text"] {
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
}