
body {
    background-color: #e4e2e3;
}

#app {
    width: 80%;
    margin: auto;
}

.quiz {
    text-align: center;
}

h3 {
    margin-top: 25px;
}

.question input[type="text"] {
    font-size: 20px;
    width: 100%;
    margin-right: 10px;
    text-align: center;
}

.question input[type="text"], .question input[type="button"] {
    margin-top: 10px;
    vertical-align: middle;
}

.questionResult {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 16px;
}

.question.error input[type="text"] {
    border-color: rgba(255, 0, 0, 0.6);
}

.question.error .questionResult {
    color: red;
}

.question.error .answer {
    font-size: 18px;
    text-decoration: underline;
}
